<!DOCTYPE html>
<html>
  <head>
    <title>GitApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path %> |
  <%= link_to '新規登録', new_user_registration_path %>
<% end %>


    <%= yield %>
  </body>
</html>  
